<div class="container">
    <h1 style="text-align: center;"><b> GitWiki </b></h1>
    <br>
    <h5 style="text-align: center; font-style: italic;"><b>A web interface for Github API.</b></h5>
    <br>
    <h6 style="text-align: center;"><b>A Mugendi Production (2021).</b></h6>
    <br>
    <hr>
</div>

<form action="" class="searchbar">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search by Username" [(ngModel)]="username" name="username" (keyup)="myProfile()">
    </div>
</form>
<br>
<hr>

<div *ngIf="myprofile">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b class="clearfix">{{myprofile.name}}</b>
            <small> ({{myprofile.login}}) </small>
        </div>
        <br>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{myprofile.avatar_url}}" class="img-circle img-responsive clearfix" alt="Image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-class clearfix">
                        <li class="list-item" *ngIf="myprofile.bio">{{myprofile.bio}}</li>
                        <br>
                        <li class="list-item" *ngIf="myprofile.email">{{myprofile.email}}</li>
                    </ul>
                </div>
                <div style="padding-bottom: 10%;" class="col-sm-4">
                    <div>
                        <p>
                            <span class="label clearfix label-info">{{myprofile.public_repos}} Public Repositories</span>
                            <br>
                            <span class="label clearfix label-default">{{myprofile.followers}} Followers</span>
                        </p>
                        <p class="clearfix"><a href="{{myprofile.html_url}}" target="_blank" class="btn btn-primary btn-sm">View Github Page</a></p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title clearfix"><b>Repositories:</b></p>
                            </div>
                            <div class="panel-body" *ngFor="let myrepo of myrepos">
                                <p class="clearfix">
                                    {{myrepos.name}} <a href="{{myrepos.html_url}}" target="_blank" class="btn btn-sm btn-success pull-right">View repository on Github</a>
                                </p>
                                <p>{{myrepos.description}}</p>
                                <p>{{myrepos.homepage}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>