<div class="container">
    <h1 style="text-align: center;"><b> GitWiki </b></h1>
    <br>
    <h5 style="text-align: center; font-style: italic;"><b>A web interface for Github API.</b></h5>
    <br>
    <h6 style="text-align: center;"><b>A Mugendi Production (2021).</b></h6>
    <br>
    <hr>
</div>

<div class="container">
    <div class="button-group">
        <button class="btn btn-primary btn-lg">Search by Username</button>
        <hr>
        <button class="btn btn-success btn-lg">Search by Repository</button>
    </div>
</div>
<br>
<hr>

<div *ngIf="myprofile">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{myprofile.name}}<small>({{myprofile.login}})</small>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{myprofile.avatar_url}}" class="img-circle img-responsive" alt="Image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-class">
                        <li class="list-item" *ngIf="myprofile.bio">{{myprofile.bio}}</li>
                        <li class="list-item" *ngIf="myprofile.email">{{myprofile.email}}</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-info">{{myprofile.public_repos}} Public Repositories</span>
                            <span class="label label-default">{{myprofile.followers}} Followers</span>
                        </p>
                        <p><a href="{{myprofile.html_url}}" target="_blank" class="btn btn-success btn-sm">"View on Github"</a></p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Repositories</h3>
                            </div>
                            <div class="panel-body" *ngFor="let repo of myrepos">
                                <p>
                                    {{myrepos.name}} <a href="{{myrepos.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View on Github</a>
                                </p>
                                <p>{{myrepos.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>